@import 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700';

html, body{
	margin: 0px;
	padding: 0px;
}

.centre {
	position: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

#menu{	
	position: 50%;
	background-color: #448AFF;
	list-style:none;
}

main{	
	position: absolute;
	background-color: #82B1FF;
}

h1{
	font-family: 'Droid Sans', sans-serif;
	font-color: #2196F3;
	font-weight: 700;	
	margin-left: 10px;
	padding-left: 20px;
	border-left: #0049ff;
}

h2{
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}